@import '../../constants/variables.css';

.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex-grow: 1;
  margin: 70px auto 0;
  max-width: 800px;
}

.title {
  font-size: 26px;
  align-self: center;
  margin: 1vh 0;
}

@media screen and (max-width: 500px) {
  .container {
    margin-block-start: 50px;
  }
  .title {
    font-size: 24px;
    margin-block-start: 2.5vh;
  }
}
