@import '../../constants/variables.css';

.content {
  cursor: pointer;
}

.item {
  display: grid;
  grid-template-columns: 1fr auto auto;
  grid-template-rows: auto auto;
  gap: 5px 20px;
  align-items: center;
  padding: 10px 25px 10px 30px;
  border: 1px solid var(--border-color, #0000005d);
  border-radius: 25px;
  background-color: var(--accent-bc-color, #42634a49);
  margin: 0 20px;
  box-shadow: 0px 4px 10px var(--accent-bc-color, #42634a49);
  cursor: pointer;
}

.description {
  grid-column: 1 / -1;
  grid-row: 2 / 3;
  font-size: 18px;
}

.no-description {
  row-gap: 0;
}

.custom__checkbox input[type='checkbox'] {
  display: none;
}

.custom__checkbox {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  position: relative;
  display: inline-block;
  align-self: start;
  width: 28px;
  height: 28px;
  border: 2px solid var(--main-color, #42634a);
  cursor: pointer;
}

.custom__checkbox_icon {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 150%;
  height: 150%;
  transform: translate(-50%, -50%) scale(0);
  background-color: var(--checkbox-color, #a75151);
  color: var(--checkbox-color, #a75151);
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  transition:
    transform 0.3s ease,
    background-color 0.3s ease;
}

.custom__checkbox input[type='checkbox']:checked + .custom__checkbox_icon {
  transform: translate(-50%, -50%) scale(1);
}

.button__delete {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: start;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  transform: scale(1);
  transition: transform 0.3s ease;
}

.button__delete:active,
.button__edit:active {
  transform: scale(0.9);
}

.priority__container {
  position: absolute;
  width: 1rem;
  height: 1rem;
  left: calc(var(--rubber-todo-padding, 10px) / 4);
  top: 12px;
}

.priority__icon {
  width: inherit;
  height: inherit;
}

.visuale_hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@media (max-width: 600px) {
  .item {
    padding-inline: calc(var(--rubber-todo-padding, 10px) + 0.5rem)
      var(--rubber-todo-padding, 10px);
    column-gap: 10px;
  }

  .title {
    font-size: var(--title-font-size, 16px);
  }

  .description {
    font-size: var(--description-font-size, 14px);
  }

  .custom__checkbox {
    width: var(--circle-button-size, 20px);
    height: var(--circle-button-size, 20px);
  }

  .button__delete {
    width: var(--circle-button-size, 20px);
    height: var(--circle-button-size, 20px);
  }

  .priority__container {
    top: clamp(0.5625rem, 0.3482rem + 1.0714vw, 0.75rem);
    left: calc(var(--rubber-todo-padding, 10px) / 3);
    width: clamp(0.8rem, 0.5714rem + 1.1429vw, 1rem);
    height: clamp(0.8rem, 0.5714rem + 1.1429vw, 1rem);
  }
}
