.header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9900;
  background-color: #42634a;
  justify-content: center;
}

.title {
  color: #c9c6c6;
  font-size: 40px;
  padding: 5px 10px;
}
