.footer {
  display: flex;
  margin-top: 40px;
  background-color: #42634a;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.title {
  color: #c9c6c6;
  font-size: 16px;
  padding: 10px;
}
