.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex-grow: 1;
  margin: 0 auto;
  max-width: 800px;
}

.title {
  font-size: 26px;
  align-self: center;
  margin: 1vh 0;
}

.button {
  align-self: center;
  width: fit-content;
  height: auto;
  padding: 10px 25px;
  margin: 20px 0;
  border-radius: 25px;
  background-color: #42634a49;
  outline: 1px solid #0000005d;
  box-shadow: #42634a49 0px 4px 10px;
  line-height: auto;
}
