@import '../../constants/variables.css';

.header {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9900;
  background: linear-gradient(
    270deg,
    var(--main-color, #42634a),
    var(--second-grad-color, #7ea187),
    var(--main-color, #42634a),
    var(--second-grad-color, #7ea187),
    var(--main-color, #42634a)
  );
  background-size: 600% 600%;
  justify-content: center;
  align-items: center;
  animation: gradient-animation 25s ease infinite;
}

.title {
  color: var(--accent-color, #c9c6c6);
  font-size: 40px;
  padding: 5px 10px;
  cursor: default;
}

@media screen and (max-width: 500px) {
  .title {
    font-size: 30px;
  }
}

@media (prefers-reduced-motion: reduce) {
  .gradient-bg {
    animation: none;
  }
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
